<div class="container-fluid">
  <div class="col-xs-4">
    <header>
      <h1>Welcome to<br>{{title}}!</h1>
      <span>By <a href="https://github.com/maumchaves" target="_blank">{{author}}</a></span>
    </header>
    <ul class="nav nav-pills">
      <li [class.active]="currentTab === 'cartypeone'"
          (click)="onSelectTab('cartypeone')"><a>Car Type One</a></li>
      <li [class.active]="currentTab === 'cartypetwo'"
          (click)="onSelectTab('cartypetwo')"><a>Car Type Two</a></li>
    </ul>
    <vehicles-list [source]="currentTab"
                   (onVehicleSelected)="onVehicleSelected($event)">
    </vehicles-list>
  </div>
  <div class="col-xs-8 map-wrapper">
    <vehicles-map [selectedVehicle]="selectedVehicle"></vehicles-map>
  </div>
</div>
